services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file: .env
    ports:
      - "5435:5432"

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  app:
    build: .
    command: >
      sh -c "./wait-for-it.sh db 5432 &&
             echo 'Postgres is up - starting migration' &&
             python manage.py migrate &&
             echo 'Collecting static files' &&
             python manage.py collectstatic --no-input &&
             echo 'Migration finished - starting daphne' &&
             daphne -b 0.0.0.0 -p 8001 connect_u.asgi:application"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis
    env_file: .env
    environment:
      DJANGO_SETTINGS_MODULE: connect_u.settings

  nginx:
    build: ./nginx
    restart: unless-stopped
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    ports:
      - "80:80"
    depends_on:
      - app

volumes:
  postgres_data:
  static_volume:
  media_volume: