channels
channels-redis
daphne
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
djoser
drf-spectacular
Faker
gunicorn
Pillow
psycopg2-binary
python-dotenv
social-auth-app-django
django-jazzmin
tqdm
django-widget-tweaks